<div id="card-container">
  <div class="card-holder">
              <img id="image" src="{{this.product.image}}" alt="product-image">
              <h2 id="name-product">{{this.product.name}}
                <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                  <mat-icon>favorite</mat-icon>
                </button>
              </h2>
              <p id="size">{{this.product.size}}</p>
              <p id="price">{{this.product.price}} - số lượng:{{this.product.inStock}}</p>
              <div id="rate">
                &#9733;&#9733;&#9733;&#9733;&#9733;
              </div>
              <button id="btn-buy">Mua</button>
              <button (click)="addToCart({
                name: this.product.name,
                price: this.product.price,
                inStock: this.product.inStock,
                quantity: 1
              })" id="btn-addcart">Add to cart</button>
          <button (click)="removetoCart(this.product.name)" mat-flat-button color="primary">remove to cart</button>
        </div>
</div>

