<div id="product">
  <app-card (buttonClick)="addtoCart($event)"></app-card>
  <div id="cart">
    <span class="material-symbols-outlined">
      <a>shopping_cart</a>
      <h1> - Giỏ hàng của bạn</h1>
    </span>
    <div id="cart-container">
      <h2 id="total"> Tổng tiền: {{cartService.getTotalPrice()| currency:'VND'}}</h2>
      @for (item of cartService.cart; track $index){
        <h2 id="prod-in-cart"> {{item.name}} - Giá: {{item.price}} - SL: {{item.quantity}}</h2>


      }

    </div>
  </div>
</div>




